<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    div {
      background-image: url("https://i.ytimg.com/vi/Yx37t5zKh1g/hqdefault.jpg");
      height: 1000px;
      background-repeat: no-repeat;
      color: white;
    }
  </style>
</head>
<body>
  <div>
    <h1>내가 관심법으로 보아하니</h1>
    <h2>너는 {{age}}살이로구나 이름은 {{name}}이고</h2>
</div>
</body>
</html>